.headerWrap {
    height:70px;
    background:var(--menu-background-color);
}

.headerWrap > div{
    height: 100%;
    max-width:800px;
    position: relative;
    margin:0 auto;
}

.subTitle {
    color: var(--primary-gray);
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    position: absolute;
    bottom: 24px;
}

.date {
    margin-left: 10px;
}

.item {
    display:flex;
    flex-direction: column;
    gap:8px;
}

.contentWrap {
    margin:0 auto;
    max-width:800px;
    position:relative;
}