.title {
    color:var(--primary-white);
    font-style: normal;
    position: relative;
    top: -27px;
    font-size: 32px;
    font-weight:400;
}

.main {
    position:absolute;
    top:48px;
    height:inherit;
}