.itemWrapper {
    display:flex;
    flex-direction: column;
    font-weight:300;
    gap:36px;
}

.itemTitle {
    font-size: 24px;
    margin-bottom:8px;
}

.itemTitle * {
    color:var(--primary-white);
    text-decoration: none;
}

.itemDate {
    color:var(--secondary-gray);
    font-size: 20px;
}